---
import { Image } from 'astro:assets';
import Title from '@components/elements/Title.astro';
import Button from '@components/elements/Button.astro';

export interface Props {
  title: string;
  description: string;
  btnTitle?: string;
  href: string;
  calloutImg: ImageMetadata;
}

const {
  title,
  description,
  btnTitle = 'Explore More',
  href,
  calloutImg,
} = Astro.props;
---

<div
  class='p-5 sm:p-3 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden flex flex-col items-center md:mt-4 even:hidden even:md:flex even:lg:flex-col-reverse even:md:order-first even:md:col-span-2 even:lg:order-none even:lg:col-span-1'
>
  <div class='text-heading-3 p-4 text-center space-y-6'>
    <Title text={title} variant='h3' />
    <p>
      {description}
    </p>
    <div>
      <div class='mx-auto my-3'>
        <a href={href}>
          <Button className={'min-w-max text-white '}>
            <span class='flex relative z-[5]'> {btnTitle}</span>
          </Button>
        </a>
      </div>
    </div>
  </div>
  <a href={href}>
    <Image
      src={calloutImg}
      width='300'
      height='300'
      alt=`Image for ${description}`
      class='mx-auto rounded-2xl hover:hue-rotate-15 hover:scale-105 transition-all duration-200 inline-block'
    />
  </a>
</div>
