---
import Title from '@components/elements/Title.astro';
import Button from '@components/elements/Button.astro';
import Paragraph from '@components/elements/Paragraph.astro';
import PageSection from '@components/elements/PageSection.astro';
import Headings from '@components/elements/Headings.astro';

export interface Props {
  title: string;
  description: string;
  btnTitle?: string;
  href?: string;
  src: string;
  ariaLabel: string;
}

const {
  title,
  description,
  btnTitle = 'Explore More',
  href,
  src,
  ariaLabel,
} = Astro.props;
---

<PageSection className='mb-10 md:mb-16 rounded-2xl group'>
  <Headings text='Our Other Cottage' className='mb-8' variant='h4' />

  <div class='px-0 md:px-6'>
    <a
      href={href}
      class='inline-block bg-cover bg-no-repeat bg-center rounded-t-2xl w-full h-72 hover:brightness-75'
      style=`background-image: url(${src});`
      aria-label={ariaLabel}
    >
    </a>
    <div
      class='py-10 text-center bg-gradient-to-tr from-slate-100 via-gray-50 to-gray-500 dark:bg-gradient-to-b dark:from-slate-900 dark:to-slate-500 rounded-b-2xl'
    >
      <Title text={title} variant='h3' />
      <Paragraph text={description} className='mb-6' />

      <a href={href}>
        <Button className={'min-w-max text-white px-12'}>
          <span class='flex relative z-[5]'> {btnTitle}</span>
        </Button>
      </a>
    </div>
  </div>
</PageSection>
