---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import Carousel from '@components/sections/Carousel.astro';
import Container from '@components/elements/Container.astro';
import Title from '@components/elements/Title.astro';
import FacilityItem from '@components/elements/FacilityItem.astro';
import OtherServices from '@components/cards/OtherServices.astro';
import BookStayBanner from '@components/sections/BookStayBanner.astro';
import Masonry from '@components/sections/Masonry.astro';
import CottageCard from '@components/cards/CottageCard.astro';
import Headings from '@components/elements/Headings.astro';

import { facilityBarn, carouselBarn, masonryBarn } from 'src/constants';

import theBarn from '@assets/images/the-barn-exterior.webp';
import cottage from '@assets/images/the-cottage-exterior.webp';
import ParagraphsCard from '@components/cards/ParagraphsCard.astro';
import Main from '@components/elements/Main.astro';


const half_length = Math.floor(facilityBarn.length / 2);
---

<Layout
  title='The Barn at Tresowes Green Cottage - Tranquil One-Bedroom Retreat'
  description='Discover The Barn at Tresowes Green Cottage, a serene one-bedroom detached cottage offering breathtaking lake views. Immerse yourself in tranquility and natural beauty as you experience the perfect Cornwall getaway.'
>
<Main>
  <Hero
    styleUrl={theBarn.src}
    paragraph='One Bedroom cottage'
    title='The Barn'
    btnText='Find Out More'
    btnHref='#find-out-more'
    subheading='Welcome to Your Destination in South West Cornwall'
    bannerTitle='The barn - one bedroom holiday rental'
    bannerBtnText='Book Your Stay'
  />

  <Container className='mt-24'>
    <section
      class='grid grid-cols-1 md:grid-cols-3 mx-auto px-2 '
      id='find-out-more'
    >
      <div class='col-span-3 lg:col-span-2 mt-16'>
        <Carousel carouselName={carouselBarn} />

        <div class='grid grid-flow-row md:grid-flow-col mt-8 mb-5'>
          <div class='text-heading-2 flex flex-col'>
            <p class='font-light'>
              <span class='font-bold'>Max:</span> 2 Adults + 1 Child under 8 years
              old
            </p>
            <p class='font-light'>
              <span class='font-bold'>Size:</span> 35 m2
            </p>
          </div>
          <div class='text-heading-2 flex flex-col'>
            <p class='font-light'>
              <span class='font-bold'>View:</span> Lake &amp; Garden Views
            </p>
            <p class='font-light'>
              <span class='font-bold'>Bedroom:</span> 1 King Size bed &plus; a pull
              out bed
            </p>
          </div>
        </div>
        <ParagraphsCard
          headingText='The Barn'
          paragraphs={[
            {
              text: 'The Barn offers bright and characterful self catering accommodation with traditional features. Decorated and appointed to provide a warm stay with up to date appliances.',
            },
            {
              text: 'Fully equipped kitchen including washer dryer, open plan living / dining room with sofa and open staircase.',
            },
            {
              text: 'Double bedroom with kingsize bed or twin beds plus guest pullout bed. Views over Wheal Grey Lake. Modern bathroom with walk-in shower.',
            },
          ]}
        />
        <!-- <div class='midmd:pr-12 max-w-2xl mx-auto lg:ms-0 mt-12'>
            <Headings text='The Barn' variant='h2' className='text-start' />

            <Paragraph className='mt-8 text-justify'>
              The Barn offers bright and characterful self catering
              accommodation with traditional features. Decorated and appointed
              to provide a warm stay with up to date appliances.
            </Paragraph>
            <Paragraph className='mt-8 text-justify'>
              Fully equipped kitchen including washer dryer, open plan living /
              dining room with sofa and open staircase.
            </Paragraph>
            <Paragraph className='mt-8 text-justify'>
              Double bedroom with kingsize bed or twin beds plus guest pull out
              bed. Views over Wheal Grey Lake. Modern bathroom with walk-in
              shower.
            </Paragraph>
          </div> -->
      </div>
      <div class='col-span-3 lg:col-span-1 space-y-6 mt-12 lg:mt-0'>
        <Title text='Facilites' variant='h3' className='text-center' />
        <div class='columns-2 mt-8 lg:mt-0 px-2'>
          <ul class='space-y-6'>
            {
              facilityBarn.slice(0, half_length).map((text) => {
                return <FacilityItem {text} />;
              })
            }
          </ul>
          <ul class='space-y-6 mt-6'>
            {
              facilityBarn
                .slice(half_length, facilityBarn.length)
                .map((text) => {
                  return <FacilityItem {text} />;
                })
            }
          </ul>
        </div>
        <OtherServices />
      </div>
    </section>
  </Container>

  <Container className='mb-12'>
    <BookStayBanner
      subheading=''
      bannerTitle='Stay in your preferred Cottage'
      bannerBtnText='Book Your Stay'
    />

    <div class='text-center my-16'>
      <Headings text='Image Gallery' variant='h3' className='mb-12' />
      <Masonry masonryName={masonryBarn} />
    </div>

      <CottageCard
        title='The Cottage'
        description='Two Bedroom Cottage with private garden ideal for two couples, families and friends.'
        href='/the-cottage'
        src={cottage.src}
        ariaLabel='Link to The Barn - One bedroom Holiday Rental'
      />
  </Container>
  </Main>
</Layout>
